<!DOCTYPE html>
<html>
    <head>
        <style>
            body {
                text-align: center;
                background-color: #121212;
                color:white;
                font-family: Arial, Helvetica, sans-serif;
            }
        </style>
    </head>
    <body>
        <h1>Embed Code:</h1>
        <textarea readonly cols="95" rows="10"><%= embed %></textarea>
    </body>
</html>