<!DOCTYPE html>
<html>
    <head>
        <meta property="og:type" content="video.other">
        <meta property="twitter:player" content="https://www.youtube.com/embed/<%= yt %>">
        <meta property="og:video:type" content="text/html">
        <meta property="og:video:width" content="900">
        <meta property="og:video:height" content="506">
        <meta name="twitter:image" content="<%= image %>">
        <style>
            body {
                text-align: center;
                background-color: #121212;
                color:white;
                font-family: Arial, Helvetica, sans-serif;
            }
            div {
                border-radius: 10px;
                border: white solid;
                width: 10%;
                padding: 30px;
                margin: 0;
                position: absolute;
                top: 50%;
                left: 45%;
                transform: translateY(-50%);
            }
            h1 {
                border: white solid;
                display: inline;
                margin: auto;
            }
            a {
                color: white;
            }
        </style>
    </head>
    <body>
        <%- link %>
        <div>
            <form action="/create" method="POST">  
                Image: <select name="images" id="image">
                    <option value="https://i.imgur.com/nJdB00j.png">Fortnite</option>
                    <option value="https://i.imgur.com/pLj6IR5.png">Minecraft</option>
                    <option value="https://i.imgur.com/fcR8UU7.png">Roblox</option>
                    <option value="https://i.imgur.com/6Hw06Sk.png">COD: Warzone</option>
                    <option value="https://i.imgur.com/8iUdkeQ.png">Among Us</option>
                    <option value="https://i.imgur.com/i6J45b8.png">CS:GO</option>
                    <option value="https://i.imgur.com/7hiWShe.png">Valorant</option>
                  </select>  <br>  <br>
                Youtube Link: <input type="text" name="yt">  <br><br>
                <input type="submit" value="Submit">  
                </form>  
            <h3><a href="generator.html">Want to create your own game? Use the generator!</a></h3>
        </div>
    </body>
</html>